body
{
    width:100%;
    height:100vh;
    background-color:white;
}

/*Header begning*/

.logo
{
    width: 40px;
    height:40PX;

    cursor: pointer;
}

    



.search{
    width: 22px;
    height: 22px;
    position: absolute;
    right: 105px;
     top:20px;
     cursor: pointer;cursor: pointer;
    } 
.cart{
    width:32px ;
    height:34px ;
    position: absolute;
    right: 65px;
    top:15px;
    cursor: pointer;

}
.profile
{
    width:60px ;
    height:60px ;
    position: absolute;
    right: 5px;
    margin-top:  -7px;
    cursor: pointer;


}
.welcome{
    color:black;
    font-weight:bold;
    margin-left:470px;
    margin-top:70px;
    font-size: 60px;

    
}
.google{
    color:green;
    font-weight:bold;
    margin-left:498px;
    margin-top :-55px;
    font-size:60px;
    
}
.producttype{
    margin-left:25px;
    margin-top:25px;
    cursor: pointer;
}


input{
    width:15px;
    height:15px;
    background-color: gray;
    margin-block:10px;
    

}



.set1{
    display: flex;
    
}
.image1{
    width: 300px;
    height:300px;
    margin-left:50px;
    background-color: #f2f3f7;
    cursor: pointer;
}
    
.image2{
    width: 300px;
    height:300px;
    margin-left:50px;
    background-color: #f2f3f7;
    cursor: pointer;
}
    
    



.image3{
    width: 300px;
    height:300px;
    margin-left:60px;
    background-color: #f2f3f7;
    cursor: pointer;
}
.h4first{

    margin-left:97px;
    cursor: pointer;

}

.set2{
    display: flex;
    margin-left:150px;
    
    
}
.image4{
    width: 300px;
    height:300px;
    margin-left:72px;
    background-color: #f2f3f7;
    cursor: pointer;
    
    
}

.image5{
    width: 300px;
    height:300px;
    margin-left:46px;
    background-color: #f2f3f7;
    cursor: pointer;
    
}

.image6{
    width: 300px;
    height:300px;
    margin-left:60px;
    background-color: #f2f3f7;
    cursor: pointer;
}
.h4second{

    margin-left:97px;
    cursor: pointer;
    
}

.set3{
    display: flex;
    margin-left:150px;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    
}
.image7{
    width: 300px;cursor: pointer;
    height:300px;
    margin-left:74px;
    background-color: #f2f3f7;
    cursor: pointer;




    
    
}

.image8{
    width: 300px;
    height:300px;
    margin-left:45px;
    background-color: #f2f3f7;
    
}

.image9{
    width: 300px;
    height:300px;
    margin-left:60px;
    background-color: #f2f3f7;
}
.h4third{
   position:absolute;
    margin-left:74px;
    cursor: pointer;

    

    
}
.set4{
margin-left: 7px;
margin-top:50px;
cursor: pointer;
    
}
 
.image10{
    width:300px;
    height:300px;
    margin-left:216px;
    background-color: #f2f3f7;
    cursor: pointer;

}
.h4forth{
    
     margin-left:220px;
     cursor: pointer;
}
.set5
{
 width:100%;
 display: flex;
 align-items: center;
 height: 250px;
 cursor: pointer;
 
 



}
.text1{
    width: 300px;
    cursor: pointer;
    display: flex;
    margin-left: 570px;
    margin-bottom: -56px;

    
    
    
    
   
    
    

}
.text1 a{
    text-decoration: none;
}
.text2{
    margin-left: 800px;
    cursor: pointer;
    margin-bottom: 50px;
    font:color black;
    
    
    

}
.text2 a{
    text-decoration: none;
}



.footer{
    width: 100%;
    height: 24px;
    
   
    margin-left: 20px;
    margin-bottom: 30px;
   
   
    


}



.footimages{
    margin-right: 50px;
    
    height: 25px;
}

.foot1{
    
    width: 22px;
    height: 22px;
    cursor: pointer;
    

}

.foot2{
    width: 22px;
    height: 22px;
    cursor: pointer;
    
}
.foot3{
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.foot4{
    width: 22px;
    height: 22px;
    cursor: pointer;
}
.foot5{
    width: 22px;
    height: 22px;
    display:inline;
    cursor: pointer;
}


.foot7{
    width: 25px;
    height: 25px;
    position: absolute;
    margin-top:-22px;
    margin-left:395px;
    cursor: pointer;

    
}






.last1{
    position: absolute;
    margin-top: -18px;
    margin-left: 446px;
    cursor: pointer;
}
.last2{
    position: absolute;
     margin-top: -18px;
    margin-left: 587px;
    cursor: pointer;
}
.last3{
    position: absolute;
    margin-top: -17px;
    margin-left: 653px;
    cursor: pointer;
}
.last4{
    position: absolute;
    margin-top: -17px;
    margin-left: 930px;
    cursor: pointer;
}
.last5{
    position: absolute;
    margin-top: -16px;
    margin-left: 1029px;
    cursor: pointer;
}
.footer-text{
    margin-top: 30px;
}
.footer-text1{
    margin-top: 30px;
}


    .footer-text0{
        margin-top:30px;
    }
